@CHARSET "UTF-8";

.dj-megamenu-override .dj-subwrap {
	-webkit-animation-duration: 400ms;
	animation-duration: 400ms;
	-webkit-animation-delay: 50ms;
	animation-delay: 50ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.dj-megamenu-override.fast .dj-subwrap {
	-webkit-animation-duration: 200ms;
	animation-duration: 200ms;
}
.dj-megamenu-override.slow .dj-subwrap {
	-webkit-animation-duration: 600ms;
	animation-duration: 600ms;
}

/* hide submenu */
.dj-megamenu-override li div.dj-subwrap,
.dj-megamenu-override li.hover div.dj-subwrap li div.dj-subwrap,
.dj-megamenu-override:not(.dj-megamenu-js) li:hover div.dj-subwrap li div.dj-subwrap {
	display: none;
}

/* show submenu */
.dj-megamenu-override li.hover div.dj-subwrap,
.dj-megamenu-override li.hover div.dj-subwrap li.hover > div.dj-subwrap,
.dj-megamenu-override:not(.dj-megamenu-js) li:hover div.dj-subwrap,
.dj-megamenu-override:not(.dj-megamenu-js) li:hover div.dj-subwrap li:hover > div.dj-subwrap {
	display: block;
}

/* temporary fix for dj-icon and clearfix */
.dj-megamenu-override li.dj-up a.dj-up_a span.dj-icon { display: inline-block; }
.dj-megamenu-override li div.dj-subwrap .dj-subwrap-in:after { content: ''; display: table; clear: both; }