@CHARSET "UTF-8";

/* mobile menu open buttons */
.dj-megamenu-select-dark .dj-mobile-open-btn,
.dj-megamenu-offcanvas-dark .dj-mobile-open-btn,
.dj-megamenu-accordion-dark .dj-mobile-open-btn {
	display              : inline-flex;
	justify-content      : center;
	align-items          : center;
	cursor               : pointer;
	margin               : 0 auto;
	padding              : 0;
	width                : 45px;
	height               : 45px;
	background           : #434343;
	color                : #e4e4e4;
	border               : none;
	text-align           : center;
	-webkit-border-radius: 3px;
	border-radius        : 3px;
	-webkit-transition   : background-color 0.2s ease-out, color 0.2s ease-out;
	transition           : background-color 0.2s ease-out, color 0.2s ease-out;
	text-decoration: none;
}

.dj-mobile-open-btn .dj-mobile-open-icon {
	position: relative;
}

.dj-mobile-open-btn.dj-fa-no .dj-mobile-open-icon {
	display: block;
	width: 35px;
	height: 4px;
	transition-timing-function: ease;
	transition-duration: .15s;
	transition-property: transform;
	border-radius: 4px;
	background-color: #fff;
	transition-timing-function: cubic-bezier(.55,.055,.675,.19);
	transition-duration: 75ms;
}

.dj-mobile-open-btn.dj-fa-no .dj-mobile-open-icon:before,
.dj-mobile-open-btn.dj-fa-no .dj-mobile-open-icon:after {
	display: block;
	content: "";
	position: absolute;
	width: 35px;
	height: 4px;
	transition-timing-function: ease;
	transition-duration: .15s;
	transition-property: transform;
	border-radius: 4px;
	background-color: #fff;
}

.dj-mobile-open-btn.dj-fa-no .dj-mobile-open-icon:before {
	top: -10px;
	transition: top 75ms ease .12s,opacity 75ms ease;
}

.dj-mobile-open-btn.dj-fa-no .dj-mobile-open-icon:after {
	bottom: -10px;
	transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
}

.dj-mobile-open-btn.dj-fa-no.active .dj-mobile-open-icon {
	transition-delay: .12s;
	transition-timing-function: cubic-bezier(.215,.61,.355,1);
	transform: rotate(45deg);
}

.dj-mobile-open-btn.dj-fa-no.active .dj-mobile-open-icon:before,
.dj-mobile-open-btn.dj-fa-no.active .dj-mobile-open-icon:before {
	top: 0;
	transition: top 75ms ease,opacity 75ms ease .12s;
	opacity: 0;
}
.dj-mobile-open-btn.dj-fa-no.active .dj-mobile-open-icon:after,
.dj-mobile-open-btn.dj-fa-no.active .dj-mobile-open-icon:after {
	bottom: 0;
	transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
	transform: rotate(-90deg);
}

.dj-mobile-open-btn.dj-fa-0 .dj-mobile-open-icon:before,
.dj-mobile-open-btn.dj-fa-1 .dj-mobile-open-icon:before,
.dj-mobile-open-btn.dj-fa-5 .dj-mobile-open-icon:before {
	content: "\f0c9";
	display: inline-block;
	font: normal normal normal 42px/1 "FontAwesome";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.dj-mobile-open-btn.dj-fa-5 .dj-mobile-open-icon:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.dj-mobile-open-btn span + span {
	margin-left: 10px;
}

.dj-mobile-open-btn.active .dj-mobile-open-icon,
.dj-megamenu-select-dark .dj-mobile-open-btn:focus,
.dj-megamenu-select-dark:hover .dj-mobile-open-btn,
.dj-megamenu-offcanvas-dark .dj-mobile-open-btn:hover,
.dj-megamenu-offcanvas-dark .dj-mobile-open-btn:focus,
.dj-megamenu-accordion-dark .dj-mobile-open-btn:hover,
.dj-megamenu-accordion-dark .dj-mobile-open-btn:focus {
	background     : #e4e4e4;
	color          : #434343;
}

.dj-mobile-open-btn.active.dj-fa-no .dj-mobile-open-icon,
.dj-mobile-open-btn.active.dj-fa-no .dj-mobile-open-icon:before,
.dj-mobile-open-btn.active.dj-fa-no .dj-mobile-open-icon:after,
.dj-mobile-open-btn.dj-fa-no:hover .dj-mobile-open-icon,
.dj-mobile-open-btn.dj-fa-no:focus .dj-mobile-open-icon,
.dj-mobile-open-btn.dj-fa-no:hover .dj-mobile-open-icon:before,
.dj-mobile-open-btn.dj-fa-no:hover .dj-mobile-open-icon:after,
.dj-mobile-open-btn.dj-fa-no:focus .dj-mobile-open-icon:before,
.dj-mobile-open-btn.dj-fa-no:focus .dj-mobile-open-icon:after {
	background-color: #434343;
}

/* select menu general styles */
.dj-megamenu-select-dark.select-input select {
	margin   : 10px;
	padding  : 5px;
	max-width: 95%;
	height   : auto;
	font-size: 1.5em;
	color    : #434343;
}

.dj-megamenu-select-dark.select-input .dj-mobile-open-btn {
	display: none !important;
}

.dj-megamenu-select-dark.select-button {
	display : inline-block;
	position: relative;
	margin  : 0 auto;
	width   : auto;
	overflow: hidden;
}

.dj-megamenu-select-dark.select-button select {
	position   : absolute;
	top        : 0;
	left       : 0;
	background : transparent;
	border     : 0;
	margin     : 0;
	padding    : 0;
	cursor     : pointer;
	height     : 48px;
	width      : auto;
	max-width  : 9999px;
	outline    : none;
	text-indent: 9999px;
	font-size  : 1.5em;
	color      : #434343;
	box-shadow : none;
}

/* offcanvas menu general styles */
.dj-offcanvas-dark {
	background: #393939;
	color     : #aeaeae;
}

.dj-offcanvas-dark .dj-offcanvas-top {
	background: #3c3c3c;
	text-align: right;
}

.dj-offcanvas-dark .dj-offcanvas-close-btn {
	display    : inline-block;
	font-size  : 20px;
	line-height: 1;
	background : none;
	border     : none;
	color      : #f8f8f8;
	cursor     : pointer;
	padding    : 10px 12px;
}

.dj-fa-no .dj-offcanvas-close-btn .dj-offcanvas-close-icon {
	position: relative;
	display: block;
	width: 15px;
	height: 15px;
}

.dj-fa-no .dj-offcanvas-close-btn .dj-offcanvas-close-icon:before,
.dj-fa-no .dj-offcanvas-close-btn .dj-offcanvas-close-icon:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 15px;
	background: #fff;
	transform: rotate(45deg) translate(-50%, -50%);
	transform-origin: top left;
}

.dj-fa-no .dj-offcanvas-close-btn .dj-offcanvas-close-icon:after {
	transform: rotate(-45deg) translate(-50%, -50%);
}

.dj-fa-0 .dj-offcanvas-close-btn .dj-offcanvas-close-icon:before,
.dj-fa-1 .dj-offcanvas-close-btn .dj-offcanvas-close-icon:before,
.dj-fa-5 .dj-offcanvas-close-btn .dj-offcanvas-close-icon:before {
	content: "\f00d";
	display: inline-block;
	font: normal normal normal 14px/1 "FontAwesome";
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dj-fa-5 .dj-offcanvas-close-btn .dj-offcanvas-close-icon:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.dj-offcanvas-dark .dj-offcanvas-logo {
	padding   : 15px;
	text-align: center;
}

.dj-offcanvas-dark .dj-offcanvas-logo img {
	max-width: 100%;
}

.dj-offcanvas-dark .dj-offcanvas-content {
	padding: 0 15px 15px;
}

.dj-offcanvas-modules {
	padding: 15px;
}

/* accordion menu general styles */
.dj-megamenu-accordion-dark {
	position  : relative;
	text-align: center;
}

.dj-megamenu-accordion-dark.dj-align-left {
	text-align: left;
}

.dj-megamenu-accordion-dark.dj-align-right {
	text-align: right;
}

.dj-pos-absolute .dj-accordion-dark {
	position: absolute;
	top     : 42px;
	z-index : 999;
}

.dj-pos-absolute.dj-align-left .dj-accordion-dark {
	left: 0;
}

.dj-pos-absolute.dj-align-right .dj-accordion-dark {
	right: 0;
}

.dj-pos-absolute.dj-align-center .dj-accordion-dark {
	left       : 50%;
	margin-left: -150px;
}

.dj-pos-absolute .dj-accordion-dark .dj-accordion-in {
	width: 300px;
}

.dj-accordion-dark .dj-accordion-in {
	display           : none;
	margin            : 10px 0;
	padding           : 0 15px;
	background        : #393939;
	color             : #aeaeae;
	-webkit-box-sizing: border-box;
	box-sizing        : border-box;
}

/* offcanvas and accordion menu */
ul.dj-mobile-dark {
	margin    : 0 -15px;
	padding   : 0;
	text-align: left;
}

ul.dj-mobile-dark li.dj-mobileitem {
	list-style: none outside;
	position  : relative;
	margin    : 0;
	padding   : 0;
	background: none;
}

ul.dj-mobile-dark li.dj-mobileitem>a {
	display           : block;
	font-size         : 14px;
	line-height       : 1;
	background        : #393939;
	color             : #f8f8f8;
	text-decoration   : none;
	padding           : 20px 15px;
	cursor            : pointer;
	border-top        : 1px solid #434343;
	-webkit-transition: background-color 0.2s ease-out;
	transition        : background-color 0.2s ease-out;
}

ul.dj-mobile-dark li.dj-mobileitem:hover>a,
ul.dj-mobile-dark li.dj-mobileitem.active>a {
	background: #333333;
}

ul.dj-mobile-dark li.dj-mobileitem>a span.name + span {
	margin-left: 10px;
}

ul.dj-mobile-dark li.dj-mobileitem>a .subtitle {
	display: block;
	font-size: 0.85em;
	line-height: 1;
	color    : #888;
	margin-top: 3px;
}

ul.dj-mobile-dark li.dj-mobileitem>a span.dj-badge {
	float: none;
	text-transform: uppercase;
	display: inline-block;
	padding: .35em .65em;
	font-size: .75em;
	font-weight: 700;
	height: auto;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

ul.dj-mobile-dark li.dj-mobileitem>a img,
ul.dj-mobile-dark li.dj-mobileitem>a i {
	vertical-align: middle;
	margin        : 0 10px 0 0;
}

ul.dj-mobile-dark li.dj-mobileitem>a.withsubtitle img,
ul.dj-mobile-dark li.dj-mobileitem>a.withsubtitle i {
	float: left;
}

ul.dj-mobile-dark li.dj-mobileitem>a span.image-title {
	margin: 0 0 0 10px;
}

ul.dj-mobile-dark li.dj-mobileitem.parent>a {
	position: relative;
	padding-right: 35px;
}

ul.dj-mobile-dark li.dj-mobileitem.parent >a span.toggler {
	position   : absolute;
	right      : 0;
	top        : 50%;
	transform: translateY(-50%);
	display    : inline-block;
	padding    : 10px;
	min-width  : 10px;
	line-height: 1;
}

.dj-fa-no ul.dj-mobile-dark li.dj-mobileitem.parent >a span.toggler:before,
.dj-fa-no ul.dj-mobile-dark li.dj-mobileitem.parent >a span.toggler:after {
	position: absolute;
	content: '';
	display: block;
	background: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.dj-fa-no ul.dj-mobile-dark li.dj-mobileitem.parent >a span.toggler:before {
	width: 10px;
	height: 2px;
}
.dj-fa-no ul.dj-mobile-dark li.dj-mobileitem.parent >a span.toggler:after {
	width: 2px;
	height: 10px;
}

.dj-fa-0 ul.dj-mobile-dark li.dj-mobileitem.parent >a span.toggler:before,
.dj-fa-1 ul.dj-mobile-dark li.dj-mobileitem.parent >a span.toggler:before,
.dj-fa-5 ul.dj-mobile-dark li.dj-mobileitem.parent >a span.toggler:before {
	content: "\f067";
	display: inline-block;
	font: normal normal normal 12px/1 "FontAwesome";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dj-fa-no ul.dj-mobile-dark li.dj-mobileitem.parent.active>a span.toggler:after {
	display: none;
}

.dj-fa-0 ul.dj-mobile-dark li.dj-mobileitem.parent.active>a span.toggler:before,
.dj-fa-1 ul.dj-mobile-dark li.dj-mobileitem.parent.active>a span.toggler:before,
.dj-fa-5 ul.dj-mobile-dark li.dj-mobileitem.parent.active>a span.toggler:before {
	content: "\f068";
}

.dj-fa-5 ul.dj-mobile-dark li.dj-mobileitem.parent>a span.toggler:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

ul.dj-mobile-dark li.dj-mobileitem>ul {
	display   : none;
	margin    : 0;
	padding   : 0;
}

/* 2nd level */
ul.dj-mobile-dark ul li.dj-mobileitem>a {
	color       : #aeaeae;
	background  : #333333;
	border-top  : 1px solid #393939;
	padding-left: 30px;
}

ul.dj-mobile-dark ul li.dj-mobileitem:hover>a,
ul.dj-mobile-dark ul li.dj-mobileitem.active>a {
	color     : #e4e4e4;
	background: #2e2e2e;
}

/* 3rd level */
ul.dj-mobile-dark ul ul li.dj-mobileitem>a {
	background  : #2e2e2e;
	border-top  : 1px solid #353535;
	padding-left: 45px;
}

ul.dj-mobile-dark ul ul li.dj-mobileitem:hover>a,
ul.dj-mobile-dark ul ul li.dj-mobileitem.active>a {
	background: #292929;
}

/* 4th level */
ul.dj-mobile-dark ul ul ul li.dj-mobileitem>a {
	background  : #292929;
	border-top  : 1px solid #2e2e2e;
	padding-left: 60px;
}

ul.dj-mobile-dark ul ul ul li.dj-mobileitem:hover>a,
ul.dj-mobile-dark ul ul ul li.dj-mobileitem.active>a {
	background: #232323;
}

/* 5th level */
ul.dj-mobile-dark ul ul ul ul li.dj-mobileitem>a {
	background: #232323;
}

/* mobile modules */
ul.dj-mobile-dark .modules-wrap {
	padding: 5px 15px;
}