.dj-megamenu-modern {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
  overflow: visible;
  height: auto;
  width: auto;
  position: relative;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dj-megamenu-modern li.dj-up {
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
}

.dj-megamenu-modern li a.dj-up_a {
  display: block;
  height: 60px;
  font-size: 14px;
  text-decoration: none;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.dj-megamenu-modern li a.dj-up_a > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  height: 60px;
}

.dj-megamenu-modern li a.dj-up_a > span.dj-drop {
  padding: 0 20px 0 0;
}

.dj-megamenu-modern li a.dj-up_a > span span.name {
  vertical-align: middle;
}

.dj-megamenu-modern li a.dj-up_a > span span.name + span {
  margin-left: 10px;
}

.dj-megamenu-modern li a.dj-up_a small.subtitle {
  display: block;
  font-size: 13px;
  line-height: 1;
  margin-top: 3px;
  opacity: 0.8;
}

.dj-megamenu-modern li a.dj-up_a .dj-icon {
  margin: 0;
  max-height: 32px;
}

.dj-megamenu-modern li a.dj-up_a .dj-icon + span {
  margin-left: 15px;
}

.dj-megamenu-modern li div.dj-subwrap {
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dj-megamenu-modern li div.dj-subwrap .dj-subwrap-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}

.dj-megamenu-modern li.logo a.dj-up_a .dj-icon {
  max-height: 60px;
}

.dj-megamenu-modern li:hover, .dj-megamenu-modern li.hover {
  position: relative;
  z-index: 200;
}

.dj-megamenu-modern li:hover > div.dj-subwrap, .dj-megamenu-modern li.hover > div.dj-subwrap {
  left: 0;
  top: 100%;
  height: auto;
  z-index: 300;
}

.dj-megamenu-modern li:hover > div.dj-subwrap li:hover > div.dj-subwrap, .dj-megamenu-modern li:hover > div.dj-subwrap li.hover > div.dj-subwrap, .dj-megamenu-modern li.hover > div.dj-subwrap li:hover > div.dj-subwrap, .dj-megamenu-modern li.hover > div.dj-subwrap li.hover > div.dj-subwrap {
  left: 100%;
  top: 0;
  margin: 0;
  height: auto;
  z-index: 400;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.dj-megamenu-modern li:hover .multiple_cols > .dj-subwrap-in, .dj-megamenu-modern li.hover .multiple_cols > .dj-subwrap-in {
  padding: 10px;
}

.dj-megamenu-modern li ul.dj-submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
}

.dj-megamenu-modern li ul.dj-submenu > li {
  list-style: none;
  display: block;
  height: auto;
  width: auto;
  position: relative;
  border-top: 1px solid #efefef;
}

.dj-megamenu-modern li ul.dj-submenu > li.first {
  border-top: none;
}

.dj-megamenu-modern li ul.dj-submenu > li > a {
  font-size: 13px;
  line-height: 24px;
  color: #6e6e6f;
  text-decoration: none;
  margin: 0;
  padding: 12px 20px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 5px;
  position: relative;
}

.dj-megamenu-modern li ul.dj-submenu > li > a .dj-icon {
  max-height: 26px;
  font-size: 20px;
}

.dj-megamenu-modern li ul.dj-submenu > li > a .dj-icon + span {
  margin-left: 15px;
}

.dj-megamenu-modern li ul.dj-submenu > li > a small.subtitle {
  display: block;
  font-size: 11px;
  line-height: 1;
  opacity: 0.8;
}

.dj-megamenu-modern li ul.dj-submenu > li > a span.name {
  vertical-align: middle;
}

.dj-megamenu-modern li ul.dj-submenu > li > a span.name + span {
  margin-left: 10px;
}

.dj-megamenu-modern li ul.dj-submenu > li > a:hover, .dj-megamenu-modern li ul.dj-submenu > li > a.active {
  background: #f6f5f5;
  color: #434343;
}

.dj-megamenu-modern li ul.dj-subtree {
  list-style: none;
  padding: 0 !important;
  margin: 5px 0 5px 25px !important;
}

.dj-megamenu-modern li ul.dj-subtree > li {
  list-style: circle outside;
  padding: 0;
  margin: 0;
}

.dj-megamenu-modern li ul.dj-subtree > li > a {
  display: block;
  font-size: 13px;
  line-height: 13px;
  color: #666;
  text-decoration: none;
  padding: 5px 0;
}

.dj-megamenu-modern li ul.dj-subtree > li > a:hover, .dj-megamenu-modern li ul.dj-subtree > li > a.active {
  color: #000;
}

.dj-megamenu-modern li ul.dj-subtree > li > a small.subtitle {
  display: block;
  font-size: 0.9em;
  line-height: 1;
  opacity: 0.8;
}

.dj-megamenu-modern li ul.dj-subtree > li > a span.name + span {
  margin-left: 10px;
}

.dj-megamenu-modern li ul.dj-subtree > li.active > a {
  text-decoration: underline;
}

.dj-megamenu-modern .arrow {
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  line-height: 1;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.dj-megamenu-modern.dj-fa-no .arrow:before {
  content: '';
  border: solid #000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  top: -2px;
}

.dj-megamenu-modern.dj-fa-no .dj-submenu li.parent:not(.subtree) > a .arrow:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.dj-megamenu-modern.dj-fa-0 .arrow:before, .dj-megamenu-modern.dj-fa-1 .arrow:before, .dj-megamenu-modern.dj-fa-5 .arrow:before {
  display: inline-block;
  font: normal normal normal 14px/1 "FontAwesome";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dj-megamenu-modern.dj-fa-0 li.dj-up > a .arrow:before, .dj-megamenu-modern.dj-fa-1 li.dj-up > a .arrow:before, .dj-megamenu-modern.dj-fa-5 li.dj-up > a .arrow:before {
  content: "\f107";
}

.dj-megamenu-modern.dj-fa-0 .dj-submenu li.parent:not(.subtree) > a .arrow:before, .dj-megamenu-modern.dj-fa-1 .dj-submenu li.parent:not(.subtree) > a .arrow:before, .dj-megamenu-modern.dj-fa-5 .dj-submenu li.parent:not(.subtree) > a .arrow:before {
  content: "\f105";
}

.dj-megamenu-modern.dj-fa-5 .arrow:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.dj-megamenu-modern li.dj-up:hover > a .arrow,
.dj-megamenu-modern li.dj-up:focus > a .arrow {
  top: 51%;
  top: calc(50% + 2px);
}

.dj-megamenu-modern .dj-submenu li.parent > a .arrow {
  right: 16px;
}

.dj-megamenu-modern .dj-submenu li.parent:not(.subtree):hover > a .arrow, .dj-megamenu-modern .dj-submenu li.parent:not(.subtree):focus > a .arrow {
  right: 14px;
}

.dj-megamenu-modern li.separator > a {
  cursor: default;
}

.dj-megamenu-modern .modules-wrap {
  padding: 10px;
  color: #444;
}

.dj-megamenu-modern .modules-wrap p {
  display: block;
  padding: 0;
  font-size: 14px;
}

.dj-megamenu-modern .modules-wrap h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.dj-megamenu-modern .dj-stickylogo {
  position: absolute;
  z-index: 550;
}

.dj-megamenu-modern .dj-stickylogo img {
  max-height: 100%;
  width: auto;
}

.dj-megamenu-modern .dj-stickylogo.dj-align-center {
  position: static;
  text-align: center;
  margin: 10px 0;
}

.dj-megamenu-modern .dj-stickylogo.dj-align-left {
  left: 20px;
  max-height: 50px;
  margin: 5px 0;
}

.dj-megamenu-modern .dj-stickylogo.dj-align-right {
  right: 20px;
  max-height: 50px;
  margin: 5px 0;
}

.dj-megamenu-modern li.dj-up.fullsub {
  position: static !important;
}

.dj-megamenu-modern li.dj-up.fullsub a.dj-up_a {
  position: relative;
}

.dj-megamenu-modern li.dj-up.fullwidth > .dj-subwrap {
  width: 100vw;
}

.dj-megamenu-modern li.dj-up.fullwidth > .dj-subwrap > .dj-subwrap-in {
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dj-megamenu-modern .djsubrow_separator {
  clear: both;
  padding: 0 0 20px;
  margin: 0 0 20px;
}

.dj-megamenu-modern.dj-megamenu-fixed {
  position: fixed;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
}

.dj-megamenu-modern.dj-megamenu-fixed li a.dj-up_a {
  color: #000;
}

.dj-megamenu-modern.dj-megamenu-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #fff;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
}

.dj-megamenu-modern.verticalMenu {
  height: auto;
  max-width: 360px;
  z-index: 400;
}

.dj-megamenu-modern.verticalMenu li.dj-up {
  width: 100%;
}

.dj-megamenu-modern.verticalMenu li a.dj-up_a {
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.dj-megamenu-modern.verticalMenu li a.dj-up_a img {
  max-height: 100%;
  max-width: 32px;
}

.dj-megamenu-modern.verticalMenu li a.dj-up_a small.subtitle {
  margin-top: 0;
}

.dj-megamenu-modern.verticalMenu li a.dj-up_a > span {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.dj-megamenu-modern.verticalMenu li a.dj-up_a span {
  height: auto;
}

.dj-megamenu-modern.verticalMenu li a.dj-up_a span .dj-icon {
  vertical-align: middle;
}

.dj-megamenu-modern.verticalMenu li a.dj-up_a span span.image-title {
  padding: 0 15px;
  margin: 0;
}

.dj-megamenu-modern.verticalMenu li ul.dj-submenu > li > a .dj-icon {
  max-height: 100%;
  max-width: 32px;
}

.dj-megamenu-modern.verticalMenu li:hover div.dj-subwrap,
.dj-megamenu-modern.verticalMenu li.hover div.dj-subwrap {
  right: auto !important;
  left: 100% !important;
  top: 0;
}

.dj-megamenu-modern.verticalMenu li:hover div.dj-subwrap.open-right,
.dj-megamenu-modern.verticalMenu li.hover div.dj-subwrap.open-right {
  right: auto !important;
  left: 100% !important;
  top: 0;
}

.dj-megamenu-modern.verticalMenu li:hover div.dj-subwrap.open-left,
.dj-megamenu-modern.verticalMenu li.hover div.dj-subwrap.open-left {
  left: auto !important;
  right: 100% !important;
}

.dj-megamenu-modern.verticalMenu.dj-fa-no li.dj-up > a .arrow:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.dj-megamenu-modern.verticalMenu.dj-fa-0 li.dj-up > a .arrow:before, .dj-megamenu-modern.verticalMenu.dj-fa-1 li.dj-up > a .arrow:before, .dj-megamenu-modern.verticalMenu.dj-fa-5 li.dj-up > a .arrow:before {
  content: "\f105";
}

body.dj-megamenu-overlay {
  position: relative;
}

body.dj-megamenu-overlay ul.dj-megamenu {
  z-index: 1001;
  position: relative;
}

body.dj-megamenu-overlay .dj-megamenu-sticky {
  z-index: 1000;
}

body .dj-megamenu-overlay-box {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  pointer-events: none;
  display: none;
}

.dj-megamenu-modern li a.dj-up_a span.dj-badge,
.dj-megamenu-modern li ul > li > a span.dj-badge {
  float: none;
  text-transform: uppercase;
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  height: auto;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.dj-megamenu-modern.dj-megamenu-wcag *:focus,
.dj-megamenu-modern.dj-megamenu-wcag *:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: -2px;
}

.dj-megamenu-modern.dj-megamenu-wcag *:focus:not(:focus-visible) {
  outline: none;
}

.dj-megamenu-modern .dj-subwrap {
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.dj-megamenu-modern.fast .dj-subwrap {
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
}

.dj-megamenu-modern.slow .dj-subwrap {
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
}

.dj-megamenu-modern li div.dj-subwrap,
.dj-megamenu-modern li.hover div.dj-subwrap li div.dj-subwrap,
.dj-megamenu-modern:not(.dj-megamenu-js) li:hover div.dj-subwrap li div.dj-subwrap {
  display: none;
}

.dj-megamenu-modern li.hover div.dj-subwrap,
.dj-megamenu-modern li.hover div.dj-subwrap li.hover > div.dj-subwrap,
.dj-megamenu-modern:not(.dj-megamenu-js) li:hover div.dj-subwrap,
.dj-megamenu-modern:not(.dj-megamenu-js) li:hover div.dj-subwrap li:hover > div.dj-subwrap {
  display: block;
}
/*# sourceMappingURL=djmegamenu.css.map */